<!DOCTYPE html>
<html ng-app="Fideligard">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:700|Muli:400,400i" rel="stylesheet">
    <meta charset="utf-8"></meta>
    <title>Fideligard Stock Portfolio</title>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--lodash-->
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <!-- UI Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
  </head>

    <nav class="navbar navbar-inverse">

    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fideligard Stock Manager</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a>Stocks</a></li>
          <li><a>Portfolio</a></li>
          <li><a>Trades</a></li>
          <li><a>Transaction History</a></li>
        </ul>
      </div>
    </nav>
  <body class="container" ng-controller="SliderController">

    <div class="row">
      <div class="col-xs-2">
        <b>{{startDate | date:'MMM dd, yyyy'}}</b>
      </div>

      <div class="col-xs-2 col-xs-offset-8">
        <b>{{endDate | date:'MMM dd, yyyy'}}</b>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <a ng-click="toggleSelector()">{{currentDate | date:'MMM dd, yyyy'}}</a>
        <input type="date" name="date" ng-model="currentDate" ng-hide="dateSelector">

      </div>
    </div>


    <div class= "row">
      <div class="col-xs-12">
        <input type="range" ng-change="changeCurrentDate()" ng-model="slide" min="-15897600000" max="0" step="86400000">
      </div>
    </div>
  </body>

  <!-- scripts -->
  <script src="/js/app.js"></script>

  <!-- directives -->

  <!-- services -->

  <!-- controllers -->
  <script src="/js/controller/sliderController.js"></script>

</html>
