<h3> Transactions </h3>
<div class="form-group">
  <label>Filter</label>
  <input type="text" ng-model="inputFilter">
  <span>Buy:</span> <input type="checkbox" ng-model="buy">
  <span>Sell:</span> <input type="checkbox" ng-model="sell">
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Symbol</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="stock in history | historyFilter : inputFilter"  >
      <td>{{stock.stock.Date}}</td>
      <td>{{stock.symbol}}</td>
      <td>{{stock.type}}</td>
      <td>{{stock.amount}}</td>
      <td>{{stock.price}}</td>
    </tr>
  </tbody>
</table>
