<div class="row">
  <div class="col-xs-2">
    <b>{{startDate | date:'MMM dd, yyyy'}}</b>
  </div>

  <div class="col-xs-2 col-xs-offset-8">
    <b>{{endDate | date:'MMM dd, yyyy'}}</b>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center">
    <a ng-click="toggleSelector()">{{currentDate | date:'MMM dd, yyyy'}}</a>
    <input type="date" name="date" ng-model="currentDate" ng-hide="dateSelector">

  </div>
</div>


<div class= "row">
  <div class="col-xs-12">
    <input type="range" ng-change="changeCurrentDate()" ng-model="slide" min="-15897600000" max="0" step="86400000">
  </div>
</div>
